.m-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  .m-left {
    width: calc(100vw - 340px);
  }
  .m-right {
    margin-left: 20px;
    width: 320px;
  }
}
