.ant-card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 2px 0px, rgba(0, 0, 0, 0.02) 0px 1px 6px -1px,
    rgba(0, 0, 0, 0.02) 0px 2px 4px 0px;
  .ant-card-head {
    padding: 0 20px;
  }
  .ant-card-body {
    padding: 20px;
  }
}
.ant-modal {
  .ant-modal-content {
    padding: 20px;
    .ant-modal-body {
      margin-top: 20px;
    }
    .ant-form-item-label {
      text-align: left;
    }
  }
}
.ant-menu-item {
  padding-left: 20px !important;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 20px 0 0;
}
